In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('tast01 (1) - dataset (1).csv')
df

,Customer ID,Country,State,Postal Code,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Australia,New South Wales,2000,Female,0,Yes,No,1.0,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Australia,New South Wales,2035,Female,0,Yes,No,1.0,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Australia,New South Wales,2014,Male,0,No,No,34.0,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3,3668-QPYBK,Australia,New South Wales,2041,Male,0,No,No,2.0,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Australia,New South Wales,2050,Male,0,No,No,45.0,No,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,7740-KKCXF,Australia,New South Wales,2043,Male,0,Yes,No,51.0,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),30.05,1529.45,No
4994,5360-XGYAZ,Australia,New South Wales,2021,Male,0,Yes,Yes,72.0,No,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),65.65,4664.50,No
4995,9692-TUSXH,Australia,New South Wales,2014,Female,0,No,No,18.0,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,96.05,1740.70,Yes
4996,7912-SYRQT,Australia,New South Wales,2052,Female,0,No,No,7.0,Yes,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.1,552.95,Yes
4997,3557-HTYWR,Australia,New South Wales,2056,Female,0,No,No,47.0,Yes,...,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.30,No

In [3]:
df.shape

(4998, 24)

In [4]:
df.describe()

       Postal Code  Senior Citizen       tenure  Total Charges
count  4998.000000     4998.000000  4997.000000    4990.000000
mean   2050.621449        0.159264    32.260957    2274.587575
std      29.540846        0.365958    24.634493    2268.207379
min    2000.000000        0.000000     0.000000      18.800000
25%    2025.000000        0.000000     8.000000     388.075000
50%    2051.000000        0.000000    29.000000    1397.475000
75%    2077.000000        0.000000    55.000000    3758.400000
max    2100.000000        1.000000    72.000000    8684.800000

In [5]:
df['Customer ID'].unique()

array(['7590-VHVEA', '7590-VHVEG', '5575-GNVDE', ..., '9692-TUSXH',
       '7912-SYRQT', '3557-HTYWR'], dtype=object)

In [6]:
df['Country'].unique()

array(['Australia'], dtype=object)

In [7]:
df['State'].unique()

array(['New South Wales'], dtype=object)

In [8]:
df['Postal Code'].unique()

array([2000, 2035, 2014, 2041, 2050, 2055, 2073, 2004, 2059, 2010, 2056,
       2074, 2077, 2057, 2098, 2038, 2066, 2039, 2062, 2005, 2053, 2089,
       2088, 2051, 2079, 2022, 2095, 2097, 2090, 2032, 2082, 2083, 2037,
       2049, 2021, 2099, 2085, 2001, 2007, 2048, 2046, 2017, 2023, 2031,
       2086, 2034, 2045, 2016, 2065, 2025, 2054, 2063, 2076, 2008, 2096,
       2068, 2015, 2093, 2075, 2040, 2042, 2002, 2064, 2080, 2078, 2026,
       2024, 2030, 2009, 2058, 2067, 2094, 2033, 2084, 2020, 2052, 2036,
       2100, 2047, 2092, 2044, 2006, 2027, 2061, 2087, 2011, 2091, 2070,
       2028, 2029, 2081, 2003, 2019, 2043, 2069, 2012, 2060, 2071, 2013,
       2072, 2018], dtype=int64)

In [9]:
df1=df.drop(['Customer ID','Country','State','Postal Code'],axis='columns')
df1.head()

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No

In [10]:
df1.isna().sum()

Gender               0
Senior Citizen       0
Partner              0
Dependents           0
tenure               1
Phone Service        0
Multiple Lines       0
Internet Service     1
Online Security      1
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      2
Total Charges        8
Churn                0
dtype: int64

In [11]:
df2=df1.dropna()
df2

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
3,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,Male,0,Yes,No,51.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),30.05,1529.45,No
4994,Male,0,Yes,Yes,72.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),65.65,4664.50,No
4995,Female,0,No,No,18.0,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,96.05,1740.70,Yes
4996,Female,0,No,No,7.0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.1,552.95,Yes
4997,Female,0,No,No,47.0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.30,No

In [12]:
df2.shape

(4986, 20)

In [13]:
df2.isna().sum()

Gender               0
Senior Citizen       0
Partner              0
Dependents           0
tenure               0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn                0
dtype: int64

In [14]:
df2['Senior Citizen'].unique()

array([0, 1], dtype=int64)

In [15]:
df2['Partner'].unique()

array(['Yes', 'No'], dtype=object)

In [16]:
df2['Dependents'].unique()

array(['No', 'Yes'], dtype=object)

In [17]:
df2.groupby('tenure')['tenure'].agg('count')

tenure
1.0     436
2.0     177
3.0     141
4.0     132
5.0      96
       ...
68.0     73
69.0     66
70.0     75
71.0    126
72.0    272
Name: tenure, Length: 72, dtype: int64

In [18]:
df2['Phone Service'].unique()

array(['No', 'Yes', ' '], dtype=object)

In [19]:
df2.groupby('Phone Service')['Phone Service'].agg('count')

Phone Service
          1
No      461
Yes    4524
Name: Phone Service, dtype: int64

In [20]:
row=df2[df2['Phone Service'].str.strip() == '']
row

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
4976,Male,0,Yes,No,72.0,,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),103.75,7346.2,No

In [21]:
df2=df2.drop(4976)

In [22]:
df2['Phone Service'].unique()

array(['No', 'Yes'], dtype=object)

In [23]:
df2['Multiple Lines'].unique()

array(['No phone service', 'No', 'Yes', ' ', 'N0'], dtype=object)

In [24]:
row1=df2[df2['Multiple Lines'].str.strip() == '']
row1

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
4762,Male,0,Yes,Yes,72.0,Yes,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),25,1738.90,No
4768,Male,0,Yes,Yes,1.0,Yes,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.85,19.85,No

In [25]:
drop_rows=[4762,4768]
df2=df2.drop(drop_rows)

In [26]:
df2['Multiple Lines'].unique()

array(['No phone service', 'No', 'Yes', 'N0'], dtype=object)

In [27]:
df2['Multiple Lines']=df2['Multiple Lines'].replace('N0','No')

In [28]:
df2['Multiple Lines'].unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [29]:
df2['Online Security'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [30]:
df2['Online Backup'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [31]:
df2['Device Protection'].unique()

array(['No', 'Yes', 'No internet service', 'N0'], dtype=object)

In [32]:
df2['Device Protection']=df2['Device Protection'].replace('N0','No')

In [33]:
df2['Device Protection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [34]:
df2['Tech Support'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [35]:

df2['Streaming Movies'].unique()

array(['No', 'Yes', 'No internet service', '   '], dtype=object)

In [36]:
row2=df2[df2['Streaming Movies'].str.strip() == '']
row2

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
4770,Male,0,Yes,Yes,35.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,,One year,No,Electronic check,19.9,666.0,No

In [37]:
df2=df2.drop(4770)

In [38]:

df2['Streaming Movies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [39]:
df2['Streaming TV'].unique()

array(['No', 'Yes', 'No internet service', 'No internetservice', 'N0'],
      dtype=object)

In [40]:
df2['Streaming TV']=df2['Streaming TV'].replace('N0','No')
df2['Streaming TV']=df2['Streaming TV'].replace('No internetservice','No internet service')

In [41]:
df2['Streaming TV'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [42]:
df2['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [43]:
df2['Paperless Billing'].unique()

array(['Yes', 'No'], dtype=object)

In [44]:
df2['Monthly Charges'].unique()

array(['29.85', '56.95', '53.85', ..., '36.85', '45.5', '30.05'],
      dtype=object)

In [45]:
df2['Payment Method'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [46]:
df2['Total Charges'].unique()

array([  29.85, 1889.5 ,  108.15, ..., 4664.5 , 1740.7 ,  552.95])

In [47]:
df2['Internet Service'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [48]:
df2['Gender']=df2['Gender'].replace('female','Female')

In [49]:
df2['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [50]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True
df2[~df2['Monthly Charges'].apply(is_float)]

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
4774,Male,0,No,No,44.0,No,No phone service,DSL,No,Yes,Yes,No,Yes,Yes,One year,Yes,Mailed check,"53,95",2375.4,Yes

In [51]:
df2['Monthly Charges'].loc[4774]=53.95

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2924\2717744941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Monthly Charges'].loc[4774]=53.95

In [52]:
# from sklearn.preprocessing import MinMaxScaler
# sc=MinMaxScaler()
# # columns=['tenure','Monthly Charges']
# df2[columns]=sc.fit_transform(df2[columns])
# df2

In [53]:
df2=df2.drop(['Churn'],axis='columns')
df2

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges
0,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
2,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
3,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
4,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,Male,0,Yes,No,51.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),30.05,1529.45
4994,Male,0,Yes,Yes,72.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),65.65,4664.50
4995,Female,0,No,No,18.0,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,96.05,1740.70
4996,Female,0,No,No,7.0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.1,552.95
4997,Female,0,No,No,47.0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.30

<h2>without using label encoder<h2>

In [54]:
df3=df2.copy()
df3

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges
0,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
2,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
3,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
4,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,Male,0,Yes,No,51.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),30.05,1529.45
4994,Male,0,Yes,Yes,72.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),65.65,4664.50
4995,Female,0,No,No,18.0,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,96.05,1740.70
4996,Female,0,No,No,7.0,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.1,552.95
4997,Female,0,No,No,47.0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.30

In [55]:
df3['Multiple Lines'].unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [56]:
df3['Online Security'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [57]:
dict={
    'Male':1,
    'Female':0,
    'Yes':1,
    'No':0,
    'No phone service':2,
    'No internet service':2,
    'Month-to-month':0,
    'One year':1,
    'Two year':2,
    'Bank transfer (automatic)':0,
    'Credit card (automatic)':1,
    'Electronic check':2,
    'Mailed check':3,
    'DSL':2,
     'Fiber optic':2,
    
}

In [58]:
def cat_num(columnname):
    df3[columnname]=df3[columnname].map(dict)
cat_num('Gender')
cat_num('Partner')
cat_num('Dependents')
cat_num('Phone Service')
cat_num('Multiple Lines')
cat_num('Internet Service')
cat_num('Online Security')
cat_num('Online Backup')
cat_num('Device Protection')
cat_num('Tech Support')
cat_num('Streaming TV')
cat_num('Streaming Movies')
cat_num('Contract')
cat_num('Paperless Billing')
cat_num('Payment Method')

In [59]:
df3.isna().sum()

Gender               0
Senior Citizen       0
Partner              0
Dependents           0
tenure               0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
dtype: int64

In [60]:
df3

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges
0,0,0,1,0,1.0,0,2,2,0,1,0,0,0,0,0,1,2,29.85,29.85
1,0,0,1,0,1.0,0,2,2,0,1,0,0,0,0,0,1,2,29.85,29.85
2,1,0,0,0,34.0,1,0,2,1,0,1,0,0,0,1,0,3,56.95,1889.50
3,1,0,0,0,2.0,1,0,2,1,1,0,0,0,0,0,1,3,53.85,108.15
4,1,0,0,0,45.0,0,2,2,1,0,1,1,0,0,1,0,0,42.3,1840.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,1,0,1,0,51.0,0,2,2,0,1,0,0,0,0,0,1,1,30.05,1529.45
4994,1,0,1,1,72.0,0,2,2,1,1,1,1,1,1,2,1,0,65.65,4664.50
4995,0,0,0,0,18.0,1,0,2,1,0,0,0,1,1,0,1,2,96.05,1740.70
4996,0,0,0,0,7.0,1,1,2,0,0,0,0,0,0,0,1,0,75.1,552.95
4997,0,0,0,0,47.0,1,1,2,1,1,0,1,0,1,2,0,3,74.05,3496.30

In [61]:
x=df3.drop(['Total Charges'],axis='columns')
x.dtypes

Gender                 int64
Senior Citizen         int64
Partner                int64
Dependents             int64
tenure               float64
Phone Service          int64
Multiple Lines         int64
Internet Service       int64
Online Security        int64
Online Backup          int64
Device Protection      int64
Tech Support           int64
Streaming TV           int64
Streaming Movies       int64
Contract               int64
Paperless Billing      int64
Payment Method         int64
Monthly Charges       object
dtype: object

In [62]:
x['Monthly Charges']=x['Monthly Charges'].astype(float)

In [63]:
x.dtypes

Gender                 int64
Senior Citizen         int64
Partner                int64
Dependents             int64
tenure               float64
Phone Service          int64
Multiple Lines         int64
Internet Service       int64
Online Security        int64
Online Backup          int64
Device Protection      int64
Tech Support           int64
Streaming TV           int64
Streaming Movies       int64
Contract               int64
Paperless Billing      int64
Payment Method         int64
Monthly Charges      float64
dtype: object

In [64]:
y=df3['Total Charges']
y.dtypes

dtype('float64')

In [65]:
from sklearn.model_selection  import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)

In [66]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [67]:
model.score(x_test,y_test)

0.9073721962591513

In [68]:
y_pred=model.predict(x_test)

In [69]:
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(y_test, y_pred)
r2=r2_score(y_test,y_pred)
mse,r2

(497416.41012291476, 0.9073721962591513)

In [70]:
from sklearn.tree import DecisionTreeRegressor
model1=DecisionTreeRegressor()
model1.fit(x_train,y_train)

DecisionTreeRegressor()

In [71]:
model1.score(x_test,y_test)

0.9966799405731416

In [72]:
y_pred=model1.predict(x_test)

In [73]:
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(y_test, y_pred)
r2=r2_score(y_test,y_pred)
mse,r2

(17828.902066198603, 0.9966799405731416)

In [74]:
from sklearn.ensemble import RandomForestRegressor
model2=RandomForestRegressor(n_estimators=100,criterion='absolute_error')
model2.fit(x_train,y_train)

RandomForestRegressor(criterion='absolute_error')

In [75]:
x_test

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges
760,0,0,1,1,72.0,1,1,2,1,1,0,1,0,0,2,1,0,90.35
916,1,1,1,0,1.0,1,1,2,0,0,0,0,0,0,0,1,2,73.55
3945,0,0,1,1,9.0,1,0,0,2,2,2,2,2,2,1,0,3,20.25
3007,1,1,0,0,14.0,1,1,2,0,0,0,0,0,0,0,1,2,74.95
3349,0,1,0,0,71.0,1,1,2,0,1,1,0,1,1,1,1,2,105.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,1,0,0,0,7.0,1,1,2,0,0,1,0,1,0,0,1,2,90.45
1064,1,0,0,0,10.0,1,0,2,1,0,0,1,1,0,0,0,0,62.25
4283,0,0,1,1,52.0,1,1,2,0,0,1,0,1,1,1,0,0,101.25
2383,0,0,0,0,29.0,0,2,2,1,1,0,1,0,0,1,0,1,39.50
2347,0,0,1,1,71.0,1,1,2,0,1,1,0,0,1,2,1,1,95.75

In [88]:
model2.score(x_test,y_test)

0.9987994266356762

In [89]:
y_pred=model2.predict(x_test)

In [90]:
y_test

760     6563.40
916       73.55
3945     172.35
3007    1036.75
3349    7521.95
         ...
1193     593.45
1064     612.95
4283    5301.10
2383    1082.75
2347    6849.40
Name: Total Charges, Length: 997, dtype: float64

In [91]:
y_pred[0]

6543.219499999995

In [92]:
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(y_test, y_pred)
r2=r2_score(y_test,y_pred)
mse,r2

(6447.145121154956, 0.9987994266356762)

In [93]:
from sklearn.linear_model import Lasso
model3=Lasso(alpha=0.5,max_iter=100)
model3.fit(x_train,y_train)

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.906e+07, tolerance: 2.022e+06
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.5, max_iter=100)

In [94]:
model3.score(x_test,y_test)

0.9073770652866211

In [95]:
y_pred=model.predict(x_test)

In [96]:
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(y_test, y_pred)
r2=r2_score(y_test,y_pred)
mse,r2

(497416.41012291476, 0.9073721962591513)

In [97]:
import pickle
with open('customer_churn.pkl','wb') as file:
   pickle.dump(model2,file)